<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="8486a3">  <td>21/09/18 03:12:15</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.bookTickets()[pri:0, instance:runner.Runner@48a242ce]">bookTickets</td> 
  <td>main@1027591600</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/18 03:12:26</td>   <td>10274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.clickOfferSection()[pri:1, instance:runner.Runner@48a242ce]">clickOfferSection</td> 
  <td>main@1027591600</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/18 03:12:09</td>   <td>-6274</td> <td>&nbsp;</td><td title="&gt;&gt;Runner.initialize()[pri:0, instance:runner.Runner@48a242ce]">&gt;&gt;initialize</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1027591600</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/18 03:12:14</td>   <td>-1612</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Runner.setDriver(org.testng.ITestContext)[pri:0, instance:runner.Runner@48a242ce]">&gt;&gt;setDriver</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1027591600</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/18 03:12:33</td>   <td>17594</td> <td>&nbsp;</td><td title="&lt;&lt;Runner.tearDown()[pri:0, instance:runner.Runner@48a242ce]">&lt;&lt;tearDown</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1027591600</td>   <td></td> </tr>
<tr bgcolor="8486a3">  <td>21/09/18 03:12:30</td>   <td>14341</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Runner.validateTitleTravelGuru()[pri:2, instance:runner.Runner@48a242ce]">validateTitleTravelGuru</td> 
  <td>main@1027591600</td>   <td></td> </tr>
</table>
